<div class="container-fluid">
    <div class="row text-center" style="margin-top: 15px;">   
        <div class="col-1">
            <button type="button" class="btn support btn-link" (click)="abreAlta(1, agregarLink)">
                <img src="assets/images/elements/youtube.png" class="icon-link">
            </button> 
        </div>
        <div class="col-1">
            <button type="button" class="btn support btn-link" (click)="abreAlta(2, agregarLink)">
                <img src="assets/images/elements/vimeo.png" class="icon-link">
            </button> 
        </div>
        <div class="col-1">
            <button type="button" class="btn support btn-link" (click)="abreAlta(3, agregarLink)">
                <img src="assets/images/elements/drive.png" class="icon-link">
            </button> 
        </div>
        <div class="col-1">
            <button type="button" class="btn support btn-link" (click)="abreAlta(4, agregarLink)">
                <img src="assets/images/elements/link.png" class="icon-link">
            </button> 
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-12" *ngFor="let l of linksEdicion">
            <label>
                <span class="icon-main-color pointer" (click)="abreLink(l)"><i class="fas fa-link"></i></span>
                <span class="pointer" (click)="abreLink(l)">&nbsp;{{ l.nombre }} </span>
                &nbsp;<span class="icon-main-color pointer" (click)="abreEdita(l.idTipoLink, agregarLink, l)"><i class="fas fa-edit"></i></span>
                &nbsp;<span class="icon-main-color pointer" (click)="eliminaLink(l.idLink, 1)"><i class="fas fa-times"></i></span>
			</label>
        </div>

		<div class="col-12" *ngFor="let l of infoLinks">
            <label>
                <span class="icon-main-color pointer" (click)="abreLink(l)"><i class="fas fa-link"></i></span>
                <span class="pointer" (click)="abreLink(l)">&nbsp;{{ l.nombre }} </span>
                &nbsp;<span class="icon-main-color pointer" (click)="abreEdita(l.idTipoLink, agregarLink, l)"><i class="fas fa-edit"></i></span>
                &nbsp;<span class="icon-main-color pointer" (click)="eliminaLink(l.idLink, 0)"><i class="fas fa-times"></i></span>
			</label>
        </div>
    </div>
</div>

<ng-template #agregarLink let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fas fa-plus"></i> Agregar Link</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row text-center"> 
                <div class="col-12">
                    <form [formGroup]="link">
                        <div class="form-group row">
                            <label for="titulo-tarea" class="col-sm-1 col-form-label text-strong">TÍTULO </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" #titulo formControlName="titulo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="titulo-tarea" class="col-sm-1 col-form-label text-strong">LINK </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" #enlace formControlName="enlace" id="enlace">
                            </div>
                            <div class="col-sm-1" *ngIf="tipo == 3">
                                <button class="btn btn-primary btn-sm" (click)="inicializarDrive()"><i class="fas fa-pencil-alt"></i></button>
                            </div>
							<div class="col-sm-1" *ngIf="tipo == 3">
                                <button class="btn btn-primary btn-sm" (click)="signOut()"><i class="fas fa-sign-out-alt"></i></button>
                            </div>
                        </div>
                        <div class="form-group row hidden" id="alerta-datos">
                            <div class="alert alert-warning" role="alert">
                                <i class="fas fa-exclamation-triangle"></i>&nbsp;{{ mensaje }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary btn-sm" (click)="validaLink()"><i class="fas fa-save"></i> Guardar</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-light btn-sm" (click)="cancelar()"><i class="fas fa-times"></i> Cancelar</button>
                            </div>
                        </div>
                    </form>
                    <input type="text" class="form-control form-control-sm" hidden id="enlace1">
					<input type="text" class="form-control form-control-sm" hidden id="enlace2" [value]="enlace2">
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ngx-smart-modal [id]="id" [identifier]="id">
    <div class="container-fluid">
        <idesk-infoDialogo [mensaje]="mensajeDialogoL" [tipo]="tipoRespuesta" (respuesta)="cierraDialogoInfo($event)"></idesk-infoDialogo>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #dialogoInformacionLinks identifier="dialogoInformacionLinks" [closable]="false" [escapable]="false" [dismissable]="false">
    <div class="container-fluid">
        <idesk-infoDialogo [mensaje]="mensaje" [tipo]="tipoRespuesta" (respuesta)="cierraDialogoInfo($event)"></idesk-infoDialogo>
    </div>
</ngx-smart-modal>