<div class="container p-3 mt-3 border rounded-lg">
    <h2>IEST Desk</h2>
    <br>
    <h5 class="mb-2">Este navegador no es soportado por el IEST Desk, te sugerimos utilizar el IEST Desk en alguno de los siguientes navegadores: </h5><br>

    <h5>
      <ul>
        <li>
            Firefox actualizado. Si no cuentas con él, 
            <a class="cursor-pointer text-underline" href="http://www.mozilla.com" target="_blank">
              descárgalo aquí.
            </a>
        </li>
        <li>
            Google Chrome. Si no cuentas con él,
            <a class="cursor-pointer text-underline" href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">
              descárgalo aquí.
            </a> 
        </li>
      </ul>
    </h5>
</div>


