<div class="row">
    <div class="col-4">
        <div *ngIf="reutilizar">
            <img src="assets/images/elements/return.png" class="reutilizar-icon pointer" (click)="regresarAlta()">&nbsp;
            <label class="rem9 pointer" (click)="regresarAlta()">Regresar&nbsp;</label>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-4">
                <input class="form-control form-control-sm search" [(ngModel)]="busquedaTitulo" type="search">
            </div>
        </div>
    </div>
</div><br>
<div class="row box-reutilizar">
    <div class="col-4 listado">
        <div class="row">
            <div class="col-12 elemento" *ngFor="let r of reutilizables | searchfilter:'titulo':busquedaTitulo" (click)="vistaPrevia(r.idVinculo)">
                {{ r.titulo }}
            </div>
        </div>
    </div>
    <div class="col-8 vista-previa">
        <div class="reutilizar-container row align-items-center" *ngFor="let v of vinculo">
            <div class="col-8" *ngIf="vista">
                <div class="row acordion-row">
                    <div class="col-auto">
                        <label class="text-strong">TÍTULO: </label>
                    </div>
                    <div class="col"><a [href]="v.vinculo" target="_blank">{{ v.titulo }}</a></div>
                </div>
                <div class="row acordion-row">
                    <div class="col-auto">
                        <label class="text-strong">LINK: </label>
                    </div>
                    <div class="col"><a [href]="v.vinculo" target="_blank">{{ v.vinculo }}</a></div>
                </div>
                <div class="row acordion-row" *ngIf="v.descripcion">
                    <div class="col-12">
                        <label class="text-strong">DESCRIPCIÓN: </label>
                    </div>
                    <div class="col-12" [innerHTML]="v.descripcion | safeHtml"></div>
                </div>
            </div>
            <div class="col-4" *ngIf="vista">
                <a [href]="v.vinculo" target="_blank"><img [src]="v.urlImagen" style="width: 100%;"></a>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-primary btn-sm" id="editar" style="margin-right: 10px; margin-top: 5px;" (click)="reutilizar(v)">
                    <i class="fas fa-sync"></i>
                    &nbsp;Reutilizar vínculo
                </button>
            </div>
        </div>
    </div>
</div>