<div class="sticky-top">
    <idesk-primerNav></idesk-primerNav>
    <idesk-segundoNav [componente]="25"></idesk-segundoNav>
    <div class="container-fluid breadcrumbs" id="path1">
		<div class="row">
			<a [routerLink]="['/']"><label class="path">Cursos</label></a>
            <a [routerLink]="['/curso']"><label class="path">Inicio</label></a>	
            <a [routerLink]="['/glosario']"><label class="current">Glosario</label></a>		
        </div>
    </div>
</div>
<div class="container-fluid idesk-content">
    <div class="row">
    </div>
</div>