<div class="sticky-top">
    <idesk-primerNav></idesk-primerNav>
    <idesk-segundoNav [componente]="28"></idesk-segundoNav>
    <div class="container-fluid breadcrumbs" id="path1">
        <div class="row">
            <a [routerLink]="['/iestdesk']"><label class="path">Cursos</label></a>
            <a [routerLink]="['/curso']"><label class="path">Inicio</label></a>
            <a [routerLink]="['/criterios-de-evaluacion']"><label class="path">Criterios de Evaluación</label></a>
            <a [routerLink]="['/criterios-de-evaluacion/nuevo']"><label class="current">{{ titulito }}</label></a>
        </div>
    </div>
</div>
<div class="container-fluid idesk-content px-4">
    <div class="d-flex flex-column justify-content-md-center border rounded-lg mb-4">
        <div class="flex-fill text-center">
            <label class="w-100 py-1 bg-gris rounded-t-lg font-weight-bold">
                <ng-template #infoCriterios><ul><li>Da clic en el ícono de (+ más) para crear un criterio personalizado. Sólo puede eliminarse si no ha sido usado.</li>
                    <li>Da clic en un criterio para incluirlo a un periodo y asígnale un porcentaje.</li>
                    <li>Podrás quitar el criterio de un periodo dando clic en el ícono de (- menos). Si deseas agregarlo, vuelve a dar clic en el criterio.</li></ul>
                </ng-template> 
                Criterios de Evaluación &nbsp;
                <img src="assets/images/elements/info.png" class="info-icon pointer" [ngbTooltip]="infoCriterios" placement="bottom" tooltipClass="tooltip-info" triggers="click:blur">
            </label>
        </div>

        <div class="d-flex flex-column flex-fill p-3">
            <!-- Tipo Criterios -->
            <div class="d-flex flex-fill flex-column flex-sm-row mb-2 p-0">

				<!-- Criterios Institucionales -->
				<div class="d-flex flex-fill flex-column border rounded-lg min-height-sm mr-2 mb-2 mb-sm-0" *ngIf="institucionales">
                    <label class="titulo-equipo rounded-t-lg font-white font-weight-bold m-0 p-1 pl-3">Criterios Institucionales</label>
                    <div class="d-flex text-center px-2" *ngIf="cantidadCriteriosDisponibles(1) == 0">
                        <label>Todos los criterios asignados</label>
                    </div>
					<div class="d-flex px-2">
						<ng-container *ngFor="let tipoCriterio of objectKeys(institucionales)">
							<div class="flex-fill py-2 mr-2" *ngIf="objectKeys(institucionales[tipoCriterio]).length > 0">
								<label class="font-weight-bold">{{ tipoCriterio }}</label>
								<ng-container *ngFor="let criterio of objectKeys(institucionales[tipoCriterio])">
									<div class="pointer py-1 border-top" *ngIf="objectKeys(institucionales[tipoCriterio]).length > 0"> 
										<div (click)="agregarCriterio(institucionales[tipoCriterio][criterio], 1)" class="col-9 pointer d-inline" style="width:80%">{{ institucionales[tipoCriterio][criterio].criterio }} </div>
									</div>
								</ng-container>
							</div>
						</ng-container>
					</div>
				</div>

				<!-- Criterios Personalizados-->
				<div class="d-flex flex-fill flex-column border rounded-lg min-height-sm" *ngIf="personalizados">
					<label class="titulo-equipo rounded-t-lg font-white font-weight-bold m-0 p-1 pl-3">Criterios Personalizados
						<ng-container *ngIf="rolActual == 1">
							<button class="support pointer float-right mr-2" (click)="agregarPersonalizado(nuevoCriterio, 0)">
								<img src="assets/images/elements/nuevo-blanco.png" width="17px">
							</button>
						</ng-container>
                    </label>
                    <div class="d-flex text-center px-2" *ngIf="cantidadCriteriosDisponibles(2) == 0">
                        <label>Todos los criterios asignados</label>
                    </div>
					<div class="d-flex px-2" *ngIf="cantidadCriteriosDisponibles(2) > 0">
						<ng-container *ngFor="let tipoCriterio of objectKeys(personalizados)">
							<div class="flex-fill py-2 mr-2" *ngIf="objectKeys(personalizados[tipoCriterio]).length > 0">
								<label class="font-weight-bold" >{{ tipoCriterio }}</label>
								<ng-container *ngFor="let criterio of objectKeys(personalizados[tipoCriterio])">
									<div class="py-1 border-top criterio-individual" *ngIf="objectKeys(personalizados[tipoCriterio]).length > 0"> 
										<div (click)="agregarCriterio(personalizados[tipoCriterio][criterio], 2)" class="col-9 pointer d-inline" style="width:80%">{{ personalizados[tipoCriterio][criterio].criterio }} </div>
										<img class="support pointer float-right my-1 mr-1 edita" width="16px" src="assets/images/elements/delete.png" *ngIf="rolActual == 1 && personalizados[tipoCriterio][criterio].editable == 1" (click)="dialogEliminaPersonalizado(personalizados[tipoCriterio][criterio].idCriterio, personalizados[tipoCriterio][criterio].criterio)">
										<img class="support pointer float-right my-1 mr-1 edita" width="16px" src="assets/images/elements/edit_black.png" *ngIf="rolActual == 1 && personalizados[tipoCriterio][criterio].editable == 1" (click)="agregarPersonalizado(nuevoCriterio, personalizados[tipoCriterio][criterio].idCriterio)">
									</div>
								</ng-container>
							</div>
						</ng-container>
					</div>
				</div>
			</div>

            <!-- Valor Criterios-->
            <div class="d-flex flex-fill flex-column flex-lg-row p-0 mt-2 mx-auto">

                <!-- Parcial 1 -->
                <ng-container *ngIf="iestdesk.idGrado != 3">
                    <div class="d-flex flex-fill flex-column border rounded-lg min-height-sm mr-0 mr-md-4 mb-2 mb-md-0 my-2" >
                        <label class="w-100 m-0 p-1 bg-naranja rounded-t-lg font-weight-bold font-white pl-3 text-center"> Parcial 1 </label>
                        
                        <ng-container *ngIf="objectKeys(criterios.parcial1).length == 0">
                            <label class="m-3">Sin criterios asignados</label>
                        </ng-container>

                        <ng-container *ngIf="objectKeys(criterios.parcial1).length > 0">
                                <div class="d-flex m-2 px-5" *ngFor="let criterio1 of objectKeys(criterios.parcial1); let i = index">
                                    <div style="width:9rem;">
                                        <label class="font-weight-bold float-right mr-2"> {{ criterios.parcial1[criterio1].criterio }} </label>
                                    </div>
                                    <div class="input-number flex-fill mr-2">
                                        <input class="form-control form-control-sm" id="valor-parcial1-{{i}}" type="number" OnlyNumber="true" [min]="criterio1.minimo || criterios.parcial1[criterio1].minimo" [max]="criterio1.maximo || criterios.parcial1[criterio1].maximo" 
                                                [value]="criterios.parcial1[criterio1].valor" (change)="sumaCriterios()" maxlength="3" (keypress)="longitudValor($event)">
                                    </div>
                                    <div class="mr-2" *ngIf="criterios.parcial1[criterio1].obligatorio == 0">
                                        <img class="pointer img-xs" src="assets/images/elements/delete.png" (click)="eliminarCriterio(criterios.parcial1[criterio1], 1)">
                                    </div>
                                </div>
                                <ng-container *ngIf="criterios.suma">
                                    <hr class="m-0 mx-3">
                                    <div class="d-flex m-2">
                                        <div style="width:12rem;">
                                            <label class="font-weight-bold float-right mr-2">Total </label>
                                        </div>
                                        <div class="input-number flex-fill mr-2">
                                            <input class="form-control form-control-sm" type="number" readonly [value]="criterios.suma.parcial1">
                                        </div>
                                    </div>
                                </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            
                <!-- Parcial 2 -->
                <ng-container *ngIf=" iestdesk.idGrado !=3">
                    <div class="d-flex flex-fill flex-column border rounded-lg min-height-sm mr-0 mr-md-4 mb-2 mb-md-0 my-2" >
                        <label class="w-100 m-0 p-1 bg-naranja rounded-t-lg font-weight-bold font-white pl-3 text-center"> Parcial 2 </label>
                        
                        <ng-container *ngIf="objectKeys(criterios.parcial2).length == 0">
                             <label class="m-3">Sin criterios asignados</label>
                        </ng-container>

                        <ng-container *ngIf="objectKeys(criterios.parcial2).length > 0">
                            <div class="d-flex m-2 px-5" *ngFor="let criterio2 of objectKeys(criterios.parcial2); let i = index">
                                <div style="width:9rem;"> 
                                    <label class="float-right mr-2"> {{ criterios.parcial2[criterio2].criterio }} </label>
                                </div>
                                <div class="input-number flex-fill mr-2">
                                    <input class="form-control form-control-sm" type="number" OnlyNumber="true" [min]="criterio2.minimo || criterios.parcial2[criterio2].minimo" [max]="criterio2.maximo || criterios.parcial2[criterio2].maximo" id="valor-parcial2-{{i}}" [value]="criterios.parcial2[criterio2].valor" (change)="sumaCriterios()" maxlength="3" (keypress)="longitudValor($event)">
                                </div>
                                <div class="mr-2" *ngIf="criterios.parcial2[criterio2].obligatorio == 0">
                                    <img class="pointer img-xs" src="assets/images/elements/delete.png" (click)="eliminarCriterio(criterios.parcial2[criterio2], 2)">
                                </div>
                            </div>
                            <ng-container *ngIf="criterios.suma">
                                <hr class="m-0 mx-3">
                                <div class="d-flex m-2">
                                    <div style="width:12rem;">
                                        <label class="font-weight-bold float-right mr-2">Total </label>
                                    </div>
                                    <div class="input-number flex-fill mr-2">
                                        <input class="form-control form-control-sm" type="number" readonly [value]="criterios.suma.parcial2">
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                
                <!-- Ordinario -->
                <div class="d-flex flex-fill flex-column border rounded-lg min-height-sm my-2">
                    <label class="w-100 m-0 p-1 bg-naranja rounded-t-lg font-weight-bold font-white pl-3 text-center"> Ordinario </label>

                    <ng-container *ngIf="objectKeys(criterios.ordinario).length == 0">
                        <label class="m-3">Sin criterios asignados</label>
                    </ng-container>

                    <ng-container *ngIf="objectKeys(criterios.ordinario).length > 0">
                        <div class="d-flex m-2 px-5" *ngFor="let criterioO of objectKeys(criterios.ordinario); let i = index">
                            <div style="width:9rem;">
                                <label class="float-right mr-2"> {{ criterios.ordinario[criterioO].criterio }} </label>
                            </div>
                            <div class="input-number flex-fill mr-2">
                                <input class="form-control form-control-sm" type="number" OnlyNumber="true" [min]="criterioO.minimo || criterios.ordinario[criterioO].minimo" [max]="criterioO.maximo || criterios.ordinario[criterioO].maximo" id="valor-ordinario-{{i}}" [value]="criterios.ordinario[criterioO].valor" (change)="sumaCriterios()" maxlength="3" (keypress)="longitudValor($event)">
                            </div>
                            <div class="mr-2" *ngIf="criterios.ordinario[criterioO].obligatorio == 0">
                                <img class="pointer img-xs" src="assets/images/elements/delete.png" width="15px" (click)="eliminarCriterio(criterios.ordinario[criterioO], 6)">
                            </div>
                        </div>
                        <ng-container *ngIf="criterios.suma">
                            <hr class="m-0 mx-3">
                            <div class="d-flex m-2">
                                <div style="width:12rem;">
                                    <label class="font-weight-bold float-right mr-2">Total </label>
                                </div>
                                <div class="input-number flex-fill mr-2">
                                    <input class="form-control form-control-sm" type="number" readonly [value]="criterios.suma.ordinario">
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
                
            <div class="flex-fill my-3 p-0">
                <label class="font-weight-bold mb-3">ESPECIFICACIONES DEL PROFESOR</label>
                <textarea [froalaEditor]="options" class="froala" [(ngModel)]="comentarios"></textarea>
            </div>
                
            <!-- Publicación a Varios Grupos -->
            <div class="form-group flex-column border-top-0 border rounded-lg my-2 p-0">
                <div class="w-100 flex-fill text-center ">
                    <label class="text-strong rounded-t-lg opciones-pub-heading">PUBLICAR</label>
                </div>
                <div class="row col-12 no-gutters row-eq-height">
                    <div class="col font-weight-bold font-size-xs border-bottom mr-2 text-center">GRUPO</div>
                </div>
                <div class="col-12" *ngFor="let curso of pubCursos">
                    <ng-container *ngIf="!modoTemario || curso.idCurso == cursoActual">
                        <form #formularioPublicacion>
                            <div class="row no-grutters align-items-center row-eq-height">
                                <div class="col">
                                    <label class="col-form-label pointer"><input class="form-check-input" type="checkbox" [value]="curso.idCurso" [checked]="curso.seleccionada" [disabled]="curso.idCurso == cursoActual" (change)="curso.seleccionada = !curso.seleccionada"> {{ curso.materia }} - {{ curso.clave }}</label>
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>
		</div>

        <!-- Botones-->
		<div class="flex-fill text-center p-2">
			<button class="btn btn-sm btn-primary pointer mr-2" (click)="guardarCriterios()">
				<i class="fas fa-save"></i>&nbsp;Guardar
			</button>
			<button class="btn btn-sm btn-light pointer" (click)="cancelaAlta()">
				<i class="fas fa-times"></i>&nbsp;Cancelar
			</button>
		</div>
		
    </div>
</div>

<ngx-smart-modal #dialogoInformacion identifier="dialogoInformacion" [closable]="false" [escapable]="false" [dismissable]="false">
    <idesk-infoDialogo [mensaje]="mensaje" [tipo]="tipoRespuesta" (respuesta)="cierraDialogoInfo($event)"></idesk-infoDialogo>
</ngx-smart-modal>

<ngx-smart-modal #confirmarEliminacion identifier="confirmarEliminacion" [closable]="false" [escapable]="false" [dismissable]="false">
    <div class="container-fluid">
        <idesk-confirmaElimina [queEs]="elementoEliminar" (respuesta)="eliminaCriterioPersonalizado($event)"></idesk-confirmaElimina>
    </div>
</ngx-smart-modal>

<ng-template #nuevoCriterio let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fas fa-edit"></i>
			<span *ngIf="idCriterio == 0"> Nuevo Criterio Personalizado</span>
			<span *ngIf="idCriterio > 0"> Editar Criterio Personalizado</span>
		</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <idesk-criteriosPersonalizados [idcriterio]="idCriterio" (alta)="respCriterioPer($event)"></idesk-criteriosPersonalizados>
    </div>
</ng-template>