<div class="modal-header">
    <h4 class="modal-title"><i class="fas fa-edit"></i> Alta Tema</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid idesk-content">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="formulario">
                    <div class="form-group row">
                        <label for="nombreTema" class="col-sm-2 col-form-label text-strong">TEMA </label>
                        <div class="col-sm-10">
                            <input type="text" #nombreTema formControlName="nombreTema" class="form-control">
                        </div>
                    </div>

                    <div class="form-group col-12 d-flex flex-column border-top-0 border rounded-lg my-2 p-0">
                        <div class="col-12 row no-gutters row-eq-height align-items-center opciones-pub-heading rounded-t-lg">
                            <div class="col font-weight-bold font-size-xs border-bottom mr-2 text-center"> GRUPO </div>
                        </div>
                        
                        <ng-container *ngIf="iestdesk.rolActual == 1">
                            <div class="col-12" *ngFor="let curso of pubCursos">
                                <div class="row no-grutters align-items-center row-eq-height">
                                    <div class="col-12">
                                        <div>
                                            <label class="col-form-label"><input class="form-check-input" type="checkbox" id="curso-{{ curso.idCurso }}" [value]="curso.idCurso" [checked]="curso.seleccionada" [disabled]="curso.idCurso == cursoActual" (change)="curso.seleccionada = !curso.seleccionada"> {{ curso.materia }} - {{ curso.clave }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="iestdesk.rolActual == 3">
                            <div class="col-12" *ngFor="let curso of cursoEditor">
                                <div class="row no-grutters align-items-center row-eq-height">
                                    <div class="col-12">
                                        <div>
                                            <label class="col-form-label"><input class="form-check-input" type="checkbox" id="curso-{{ curso.idCurso }}" [value]="curso.idCurso" [checked]="curso.seleccionada" [disabled]="curso.idCurso == cursoActual" (change)="curso.seleccionada = !curso.seleccionada"> {{ curso.materia }} - {{ curso.clave }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary btn-sm" (click)="validaTema()"><i class="fas fa-save"></i> Guardar</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-light btn-sm" (click)="regresa(0)"><i class="fas fa-times"></i> Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ngx-smart-modal #dialogoInformacionTema identifier="dialogoInformacionTema" [closable]="false" [escapable]="false" [dismissable]="false">
    <div class="container-fluid">
        <idesk-infoDialogo [mensaje]="mensaje" [tipo]="tipoRespuesta" (respuesta)="cierraDialogoInfoTema($event)"></idesk-infoDialogo>
    </div>
</ngx-smart-modal>