$white: #ffffff;
$notSoWhite: #F7F7F8;
$lightGray: #f2f2f2;
$mercury : #e6e6e6;
$notSoGray: #a6a6a6;
$gray81: #818181;
$gray: #737373;
$darkGray: #4d4d4d;
$dirty: #434142;
$notSoBlack: #303030;
$black: #000000;
$redNotification: #b80c0c;
$main: #FF8500;
$darkMain: #CC6A00;
$lightMain: #FF9D32;
$brown1: #8b5d2e;

$yellowOrange: #FFB645;
$driftwood: #B57D4F;
$tundora: #434040;

// -- Cursos --
$academico: #FF8500; //#D78C43;
$darkAcademico: #e67800; //#bd7328;
$educacionContinua: #DA9500;
$darkEducacionContinua: #cc8b00;
$capacitaciones: #aa4e10;
$darkCapacitaciones: #9A480F;
$epads: #ad2800;
$darkEpads: #8e2100;

// Calendario y avisos
$brownBramble: #682A03;
$indochine: #c16300;
$chamois: #F1D8BF;
$linen: #F8ECE0;
$rodeoDust: #C6B19E;
$alizarinCrimson: #D5252C;
$webOrange: #FCA500;
$dairyCream: #FBE8C6;
$marzipan: #F7D392;

// Cronograma
$desertSand: #edceaf;
$albescentWhite: #f4e2d0;
$hotCinnamon: #DB6E24;

$goldSand: #E8C19A;

//Colores viejitos del calendario
$brown: #8A6242;
$orange: #D5853E;
$lightOrange: #F29233;
$d9: #d9d9d9;
$f7f8: #F7F7F8;
$anotherGray: #ECEDEF;
$orange1: #FFA400;
$avisosOdd: #F7F7F9;
$avisosEven: #F5E7D9;
$orange2: #EB853E;
$brown2: #97623E;
$grayOdd: #EDEEF0;
$grayEven: #F6F6F7;

// Foros
$primerNivel: #87D6D2;//#89BCB7;
$segundoNivel: #FFD591;//#FFB95C;
$tercerNivel: #9CCBD8;//#8AABBD;
$revision: #92b4a7;
$sinRevision: #e0cba8;

// Otros
$infoBlue: #4A72B0;
$sinbad: #AAD5D5;
$olivo: #D2DAC3;
$gris: #EAEAEA;
