/* LISTADO DE ALUMNOS  */
.correo-listado {
    //text-decoration: underline;
    color: #cc9714;
    font-size: 0.75rem;
}

.nombre-listado, .nombre-maestro {
    font-family: OpenSansBold;
}

.carrera-listado {
    font-size: 0.8rem;
}

.datos-maestro {
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    .nombre-maestro {
        color: #fff;
    }
}

.row :nth-child(4n), .row :nth-child(4n-1) {
    .datos-alumno{
        background-color: #f2f2f2;
        border-color: #f2f2f2;
    }
}
.row :nth-child(4n-2), .row :nth-child(4n-3) {
    .datos-alumno{
        background-color: #f9ebcf;
        border-color: #f9ebcf;
    }
}