.calendar-subject {
	width: 96%;
	margin: 0 auto;
	font-size: 0.8rem !important;
}

.calendar-header {
	height: 100%;
}

.aviso {
	padding-left: 5px !important;
	padding-right: 5px !important;
	font-size: 0.75rem; 
	display: block;
	max-height: 60px !important;
    .tooltip {
        width: 650px !important;
    }
    .tooltip-inner {
        width: 650px !important;
        word-break: normal !important;
    }
}

.avisos-content {
	width: 100%;
	margin: 3px auto;
}

#avisos-container, #calendar-container {
	height: 534px !important;
	overflow-y: auto;
	background-color: $linen;
}

#avisos-container{
	background-color: $dairyCream !important;
}

.title-aviso {
	margin-bottom: 5px !important; 
	margin-top: 5px !important; 
	color: $orange;
	font-family: OpenSansSemiBold;
	color: $brownBramble;
}

.sin-avisos {
	margin: 10px 5px;
	font-size: 0.8rem;
}

.body-aviso {
	max-height: 20px;
	overflow: hidden;
}

.separador-avisos {
	border-top: 2px solid $webOrange;
	width: 80%;
	margin: 2px auto 0;
}

.heading {
	background-color: $brownBramble;
	color: $white;
	font-family: OpenSansCondensedBold !important;
}

.avisos-heading {
	padding-top: 5px;
	background-color: $alizarinCrimson !important;
	color: $white;
}

.heading-left {
	border-top-left-radius: 18px;
}

.heading-right {
	border-top-right-radius: 18px;
}

.heading-avisos {
	padding: 5px 0 !important;
	font-size: 1.6rem;
	margin-bottom: 0 !important;
}

.calendar-odd {
	background-color: $chamois;
	height: 492px;
}

.calendar-even {
	background-color: $linen;
	height: 492px;
}

.aviso-odd,.aviso-even {
	background-color: $dairyCream;

	&:hover {
		background-color: $marzipan;
	}
}

.day-title {
	background-color: $indochine;
	color: $white;
	text-align: center;
	font-family: OpenSansCondensedBold !important;
}

.day-name {
	font-size: 1rem;
}

.day {
	font-family: OpenSansBold;
	font-size: 1.2rem;
}

#avisos, #toggle-avisos {
	float: left;
}

//Icons
.calendar-icons {
	width: 32px;
	margin-top: 15px;
}

.label-calendar-events {
	font-size: 0.75rem; 
	display: block; 
	margin-bottom: 25px;
}

// Full calendar
.fullcalendar-header {
	background-color: $orange2;
	color: $white;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

.cell-month, .not-main {
	height: 100px;
	color: $brownBramble;
}
/*
.cell-month {
	background-color: $linen;
	&:hover {
		background-color: $chamois;
		cursor: pointer !important;
	}
}
*/
.not-main {
	background-color: $rodeoDust !important;
}

.day-month { 
	font-weight: bold;
	font-size: 1rem;
	margin-left: 5px;
	margin-top: 5px;
}

.day-even {
	background-color: $chamois;
}

.day-odd {
	background-color: $linen;
}

.day-sad {
	font-size: 1rem;
	margin-left: 5px;
	margin-top: 5px;
}

.contenedor-vista-calendario {
	overflow-x: hidden !important;
}