<div class="container-fluid mx-auto p-0 my-3 rounded-lg border idesk-content">
    <div class="row p-3">
        <div class="col-2 offset-10 mb-3 text-right">
            <button class="btn btn-sm btn-primary" (click)="vistaAlumnoObjeto(vistaAlumnoVideos)"><i class="fa fa-eye"></i> Vista Alumno</button>
        </div>
        <div class="col-12">
            <div class="form-group-row" *ngIf="iestdesk.rolActual == 3">
                <button class="btn btn-primary btn-sm float-right" (click)="abrirBanco()"><i class="fas fa-sync-alt mr-2"></i>Banco</button>
            </div>
             <div class="form-group row">
                  <label for="titulo" class="col-sm-1 col-form-label text-strong">TÍTULO </label>
                  <div class="col-sm-11">
                      <input type="text" class="form-control" [(ngModel)]="formMultimedia.titulo">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="link" class="col-sm-1 col-form-label text-strong">LINK </label>
                  <div class="col-sm-11">
                    <input type="text" class="form-control" (change)="verificarLink()" [(ngModel)]="formMultimedia.url">
                    <p *ngIf="change && !videoValido">
                        <ngb-alert [dismissible]="false" type="danger">
                            <strong>Aviso: </strong>No se ha encontrado el video de youtube que ingresó
                        </ngb-alert>
                    </p>
                  </div>
                    <!--div class="flex-fill text-center"-->
                        <div class="embed-responsive embed-responsive-16by9  mx-auto mt-3" style="width: 50%" *ngIf="(formMultimedia.url != '' && llave) || modoBanco">
                            <iframe class="embed-responsive-item" [src]="llave | safeUrl" allowfullscreen></iframe>
                        </div>
                    <!--/div-->
              </div>
              <div class="form-group row">
                  <label for="titulo" class="col-sm-12 col-form-label text-strong">DESCRIPCIÓN </label>
                  <div class="col-sm-12">
                      <textarea [froalaEditor]="options" [(ngModel)]="formMultimedia.descripcion"></textarea>
                  </div>
              </div>


            <!-- Publicación a varios grupos -->
            <div class="form-group col-12 d-flex flex-column border-top-0 border rounded-lg my-2 p-0">
                <div class="w-100 flex-fill text-center">
                    <label *ngIf="iestdesk.rolActual == 1" class="text-strong rounded-t-lg opciones-pub-heading">PUBLICAR</label>
                    <label *ngIf="iestdesk.rolActual == 3" class="text-strong rounded-t-lg opciones-pub-heading">TEMA</label>
                </div>
                <div class="col-12 row no-gutters row-eq-height" *ngIf="iestdesk.rolActual == 1">
                    <div class="col font-weight-bold font-size-xs border-bottom mr-2 text-center">GRUPO</div>
                    <div class="col-2 font-weight-bold font-size-xs border-bottom mr-2 text-center">FECHA DE PUBLICACIÓN</div>
                    <div class="col-2 font-weight-bold font-size-xs border-bottom text-center">TEMA&nbsp;</div>
                </div>
                <ng-container *ngIf="iestdesk.rolActual == 3">
                    <div class="col-12">
                        <form #formularioChido>
                            <div class="row no-grutters align-items-center row-eq-height">
                                <div class="col-10 row no-gutters my-2 mb-2" [ngClass]="{'col-12' : editorService.esAsignado == 0}" *ngIf="temasCursos[cursoActual]">
                                    <select class="form-control form-control-sm" name="tema" [(ngModel)]="temaSeleccionado">
                                        <option *ngFor="let tema of temasCursos[cursoActual]; let i = index;" [selected]="temaSeleccionado == tema.idTema" [value]="tema.idTema">{{ i + 1 }}. {{ tema.tema }}</option>
                                    </select>
                                </div>
                                <ng-container *ngIf="editorService.esAsignado == 1 && iestdesk.rolActual == 3">
                                    <div class="col-2 row no-gutters">
                                        <div class="col-9 text-center">
                                            <input type="text" class="form-control form-control-sm input3 calendar" name="fechaPublicacion" [(ngModel)]="formMultimedia.fechaPublicacion" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" readonly>
                                            <owl-date-time [pickerType]="'calendar'" pickerMode="dialog" #dt1></owl-date-time>
                                        </div>
                                        <div class="col-2 text-center icon-main-color" [owlDateTimeTrigger]="dt1">
                                            &nbsp;<i class="far fa-calendar-alt"></i>
                                        </div>
                                    </div>
                                </ng-container> 
                            </div>
                        </form>
                    </div>
                </ng-container>
                <ng-container *ngIf="iestdesk.rolActual != 3">
                    <div class="col-12" *ngFor="let curso of pubCursos">
                        <form #formularioChido>
                            <div class="row no-grutters align-items-center row-eq-height">
                                <div class="col">
                                    <label class="col-form-label pointer"><input class="form-check-input" type="checkbox" [value]="curso.idCurso" [checked]="curso.seleccionada" [disabled]="curso.idCurso == cursoActual" (change)="curso.seleccionada = !curso.seleccionada"> {{ curso.materia }} - {{ curso.clave }}</label>
                                </div>
                                <ng-container *ngIf="curso.seleccionada">
                                    <div class="col-2 row no-gutters">
                                        <div class="col-9 text-center">
                                            <input type="text" class="form-control form-control-sm input3 calendar" name="fechaPublicacion" [(ngModel)]="curso.fechaPublicacion" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" readonly>
                                            <owl-date-time [pickerType]="'calendar'" pickerMode="dialog" #dt1></owl-date-time>
                                        </div>
                                        <div class="col-2 text-center icon-main-color" [owlDateTimeTrigger]="dt1">
                                            &nbsp;<i class="far fa-calendar-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col-2 row no-gutters">
                                        <select class="form-control form-control-sm" name="tema" [(ngModel)]="curso.tema">
                                            <option *ngFor="let tema of temasCursos[curso.idCurso]; let i = index;" [selected]="temaSeleccionado == tema.idTema" [value]="tema.idTema">{{ i + 1 }}. {{ tema.tema }}</option>
                                        </select>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                 </ng-container>
              </div>

              <div class="col-12 text-center">
                  <button class="btn btn-primary btn-sm" *ngIf="iestdesk.rolActual == 3 || (iestdesk.rolActual == 1 && !contenidoEditor)" (click)="validarFormulario()"><i class="fas fa-save"></i> Guardar</button>
                  &nbsp;&nbsp;
              </div>
        </div>
    </div>
</div>

<ngx-smart-modal #dialogoInformacion identifier="dialogoInformacion" [closable]="false" [escapable]="false" [dismissable]="false">
    <div class="container-fluid">
        <idesk-infoDialogo [mensaje]="mensaje" [tipo]="tipoRespuesta" (respuesta)="cierraDialogoInfo($event)"></idesk-infoDialogo>
    </div>
</ngx-smart-modal>

<ng-template #vistaAlumnoVideos let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fas fa-eye"></i> Vista Alumno</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <idesk-vistaVideo [vistaAlumno]="formMultimedia"></idesk-vistaVideo>
    </div>
</ng-template>